.campground-item {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    border: lightgray 0.05rem solid;
    border-radius: 0.3rem;
    position: relative;
    padding: 0.4rem;
    margin-bottom: 1.8rem;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 2rem;
}

#delete {
    display: inline;
}
