.campground-item {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    border: lightgray 1px solid;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete {
    display: inline;
}
