<div class='container'>
    <div style="padding-top: 3rem">
        <div class='jumbotron'>
            <h1><i class="fa fa-envira" aria-hidden="true"></i> Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p *ngIf="userdata">
                <button pButton type="button"
                        class="ui-button-primary"
                        (click)="addNewCampground()"
                        label="Add New Campground">
                </button>
            </p>
        </div>
    </div>

    <div class='row campground-item'>
        <div class='col-md-3 col-sm-6' *ngFor="let camp of camps">
            <div class="card">
                <img class="card-img-top" src="{{camp.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{camp.name}}</h5>
                    <p class="card-text">Price: ${{camp.price}}NZD/night</p>
                    <button pButton type="button"
                            class="ui-button-info"
                            (click)="moreInfo(camp.id)"
                            label="More Info">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
