<% include ../partials/header %>

	<div class = 'container'>
		<header class = 'jumbotron'>
			<h1>Welcome to YelpCamp</h1>
			<p>View our hand-picked campgrounds from all over the world</p>
			<% if(currentUser) { %>
				<p><a class = 'btn btn-primary btn-large' href = '/campground/new'>Add New Campground</a></p>
			<% } %>
		</header>

		<div class = 'row' style = 'display:flex; flex-wrap:wrap;'>
			<% campgrounds.forEach(function(campground){ %>
				<div class = 'col-md-3 col-sm-6'>
					<div class = 'thumbnail'>
						<img src = "<%= campground.image %>" >
						<div class = 'caption'>
							<h4><%= campground.name %></h4>
						</div>
						<center>
							<p>
								<a href = "/campground/<%= campground.id %>" class = "btn btn-primary">More Info</a>
							</p>
						</center>
					</div>
				</div>
			<% }); %>
		</div>
	</div>

<% include ../partials/footer %>
