<% include ../partials/header %>

	<div class = 'container'>
		<div class = 'row'>
			<h1 style = 'text-align: center'>Create a new campground</h1>
			<div style = 'width:30%;margin: 25px auto;'>
				<form action='/campground' method='POST'>
					<input class = 'hidden' value = '<%= currentUser.id %>' name = 'campground[user_id]'>
					<input class = 'hidden' value = '<%= currentUser.username %>' name = 'campground[username]'>

					<div class = 'form-group'>
						<input class = 'form-control' type = 'text' name = 'campground[name]' placeholder='name'>
					</div>
					<div class = 'form-group'>
						<input class = 'form-control' type = 'text' name = 'campground[image]' placeholder='image url'>
					</div>
					<div class = 'form-group'>
						<textarea class = 'form-control' rows='6' name = 'campground[description]' placeholder='description'></textarea>
					</div>
					<div class = 'form-group'>
						<button class = 'btn btn-lg btn-primary btn-block'>Submit</button>
					</div>
				</form>
				<a href = '/campground'>Go Back</a>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
