<div class="container">
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a routerLink="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
				<p>
					<strong>id</strong>:
					{{id}}
					<br>
					<strong>username</strong>:
					{{username}}
					<br>
					<strong>password</strong>:
					{{password}}
				</p>
			</div>
		</div>
	</div>
</div>